<% title "slim_breadcrumb Test App -- Turbolinks Support" %>

There are no breadcrumbs on this site. Click on 
<%= link_to "this link, which redirects to the start page with turbolinks", controller: 'root', action: 'index' %>, 
in order to make sure, this gem works with <a href="https://github.com/rails/turbolinks/">turbolinks</a>.

